<%- include('../partials/admin/header') %>

<!-- <div class="p-4">
  <div class="container-fluid">
    <h3 class="mb-4">Overview</h3>
    <div class="row g-3">
      <div class="col-md-4">
        <div class="card text-white bg-primary">
          <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text">120</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-success">
          <div class="card-body">
            <h5 class="card-title">Orders</h5>
            <p class="card-text">80</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-warning">
          <div class="card-body">
            <h5 class="card-title">Revenue</h5>
            <p class="card-text">₹45,000</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<%- include('../partials/admin/footer') %>

